/* Container */

/* PaintingList */
.PaintingList {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 1170px;
  display: flex;
  margin: -10px auto;
}

.PaintingList__item {
  margin: 10px;
}
