@import 'styles/shared.scss';

.TodoList {
  @extend %list;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}

.TodoList__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid $black;
  border-radius: 4px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: $green;

    transform: scaleX(0);
    transition: transform 250ms $timing-function;
  }

  &--completed::before {
    transform: scaleX(1);
  }
}

.TodoList__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 24px;
  margin-left: 24px;

  .TodoList__item--completed & {
    text-decoration: line-through;
  }
}

.TodoList__checkbox {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.TodoList__btn {
  @extend %button;

  margin-left: auto;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: $indigo;
  color: $white;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: $indigo-accent;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
