.title {
  padding: 8px;
  margin-top: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  background-image: repeating-linear-gradient(
    -45deg,
    #606dbc,
    #606dbc 15px,
    #465298 15px,
    #465298 30px
  );
}
