.alert {
  line-height: 1.5;
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
}

.error {
  composes: alert;
  background-color: red;
}

.warning {
  composes: alert;
  background-color: orange;
}

.success {
  composes: alert;
  background-color: green;
}
