.filter {
  width: 400px;
}

.label {
  margin-top: 0;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: inherit;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
