.container {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

.heading {
  line-height: 1.3;
}

.option {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 6px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: transform 250ms linear;
}

.activeOption {
  composes: option;
  transform: scale(1.2);
}
