.button {
  margin: 0;
  padding: 0;
  border: none;

  position: absolute;
  top: 20px;
  right: -20px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
}

.reversed svg {
  transform: rotate(180deg);
}
