.Stats {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.Stats__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;

  &:not(:last-child) {
    margin-right: 15px;
  }
}

.Stats__value {
  font-size: 32px;
  font-weight: 500;
}

.Stats__label {
  font-size: 16px;
}
