@import 'styles/colors';

.IconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: $white;
  font: inherit;
  background-color: $green;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
