.button {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: inherit;
  background-color: #4caf50;
  cursor: pointer;
}
